[user]
	email = emil@emilbryggare.com
	name = Emil Bryggare
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[diff]
    guitool = vscode
	tool = vscode
[difftool "vscode"]
	cmd = "code --wait --diff  "
[init]
	defaultBranch = main
