[user]
	name = Emil Bryggare
	email = emil@emilbryggare.com
[push]
	default = simple
[diff]
	tool = vimdiff
[core]
	editor = vim
[filter "lfs"]
	required = true
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
